@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --gris: #3E3636;
    --vermell: #D72323;
    --vermell-hover: #a70b0b;
    --vermell-fosc: #720606;
}

/* #111 --> (17, 17, 17) */

body {
    background-color: #111 !important;
    color: white !important;
}

/* NAV */

nav {
    background-color: rgba(40, 40, 40, .5) !important;
    backdrop-filter: blur(4px) !important;
    display: flex !important;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 78px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    div:nth-child(1) {
        display: flex;
        align-items: center;
    }

    i {
        height: 48px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    img {
        height: 78px;
        margin-right: -24px;
    }

    ul {
        margin: 0;
        display: flex;
        list-style: none;
        height: 78px;

        li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            cursor: pointer;

            &:hover {
                background-color: rgba(24, 24, 24, .6) !important;
            }

            &.active {
                background-color: rgba(32, 32, 32, .6);
            }
        }
    }

    .search {
        display: flex;
        align-items: center;
        position: relative;
        height: 48px;
        width: 48px;
        overflow: hidden;
        transition: .3s;

        & input {
            flex: 1;
            border: none;
            border-radius: 32px;
            height: 100%;
            width: 48px;
            background-color: rgba(34, 34, 34, .6);
            color: white;
            padding: 8px 56px 8px 16px;
            font-size: 16px;
            opacity: 0;
            transition: .3s;

            &:focus {
                outline: none;
            }
        }

        & i {
            position: absolute;
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            font-size: .9em;
            background-color: rgba(34, 34, 34, .6);
            border-radius: 32px;
            transition: .3s;
        }

        &.active {
            width: 300px;

            & input {
                opacity: 1;
                animation-name: searchbar;
                animation-duration: 2s;
                animation-timing-function: ease-in;
            }

            & i {
                border-radius: 0 32px 32px 0;
            }
        }
    }
}

/* ASIDE */

aside {
    position: fixed;
    background-color: #222;
    height: 100%;
    top: 0;
    left: 0;
    padding: 32px;
    width: 0;
    margin-left: -20%;
    transition: .3s;
    overflow: hidden;
    z-index: 9999;

    h1 {
        font-size: 3em;
        font-weight: 200;
    }

    hr {
        margin: 20px 0;
    }

    ul {
        list-style: none;
        font-size: 20px;
        line-height: 2em;
        padding-left: 32px;

        ul {
            margin-left: 16px;
        }
    }

    li {
        cursor: pointer;

        &:not(&.li_tenda):hover {
            color: var(--vermell);
        }
    }

    i {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 2.5em;
        cursor: pointer;
        height: 48px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* MAIN */

header {
    background: linear-gradient(0deg, #111 0%, #11111130 100%), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/d96bb958-4e6c-4ce0-9447-fbe226fbbecf/dgjg1mu-006aca44-56e1-437c-8cda-3053b2186b9d.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-top: -78px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 5em;
    }
}

.content {
    padding: 40px;

    .categories {
        display: flex;
        list-style: none;
        padding: 20px;

        li {
            padding: 12px 16px;
            cursor: pointer;

            &.active {
                background-color: #222;
            }

            &:hover {
                background-color: #333;
            }
        }
    }

    section {
        padding-top: 20px;
        display: none;

        &:nth-child(2) {
            display: flex;
        }
    }
}

.novetats {
    display: flex;
    justify-content: center;

    .div-grid-popular {
        display: grid;
        grid-template-columns: 35vw 17vw 35vw;
        grid-template-rows: 17vw 17vw;
        row-gap: 1vw;
        column-gap: 1vw;

        div {
            box-shadow: inset 0 0 24px #111;
            transition: .3s;
            aspect-ratio: 1/1;
            border-radius: 4px;
        }

        div:first-child,
        div:last-child {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        div:first-child {
            background-image: url('https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Ffa2d28b2-83c4-49a4-9483-87e0ad62ffe4_1280x720.jpeg');
            background-size: cover;
            background-position: center center;
        }

        .mig-dalt {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            background-image: url('https://adventuregamehotspot.com/images/games/6/383-stray-xbox-teaser.jpg');
            background-size: cover;
            background-position: center center;
        }

        .mig-baix {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            background-image: url('https://i0.wp.com/halcyonrealms.com/blogpics/hfwposter.jpg?resize=750%2C500&ssl=1');
            background-size: cover;
            background-position: center center;
        }

        div:last-child {
            position: relative;
            background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/assassins-creed-shadows-3332354.jpg?tf=3840x');
            background-size: cover;
            background-position: center center;

            &::before {
                position: absolute;
                content: 'Patrocinat';
                background-color: rgba(17, 17, 17, .5);
                padding: 8px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 8px;
                left: 8px;
            }
        }
    }
}

.colleccions {
    flex-direction: column;
}

.descomptes {
    flex-direction: column;

    .desc-top-blocks {
        display: flex;
        gap: 12px;

        div {
            width: 50%;
            aspect-ratio: 4/3;
            background-color: #333;
            border-radius: 4px;
            padding: 16px;
            cursor: pointer;
            display: flex;
            align-items: end;
        }

        div:nth-child(1) {
            background: linear-gradient(0deg, #ffff0030 0%, #ffff0010 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrTK_9Vo3ZcfkC0oZRqiGBZKqYYMgR4zaFaQ&s');
            background-position: center center;
            background-size: cover;
        }

        div:nth-child(2) {
            background: linear-gradient(0deg, #ffff0030 0%, #ffff0010 100%), url('https://i.blogs.es/1826ed/1366_2000-71-1-/500_333.jpeg');
            background-position: center center;
            background-size: cover;
        }

        div:nth-child(3) {
            background: linear-gradient(0deg, #ffff0050 0%, #ffff0030 100%), url('https://preview.redd.it/fortnite-better-have-a-good-christmas-theme-winterfestival-v0-d5uncf7gflrd1.jpeg?auto=webp&s=bc214f671848103f588950b5005aa2be939a7e04');
            background-position: center center;
            background-size: cover;
        }
    }
}

.subscripcions {
    flex-direction: column;

    .subs-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        gap: 32px;
        margin: 24px 0;

        div {
            width: 33%;
            background-color: #333;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                background-color: red;
                width: 100%;
                padding: 20px 16px;
                border-radius: 24px;
            }

            &:nth-child(1) div {
                background-color: white;
                color: black;
            }

            &:nth-child(2) div {
                background: linear-gradient(139deg, rgba(255, 240, 0, 1) 0%, rgba(205, 165, 0, 1) 100%);
                color: black;
            }

            &:nth-child(3) div {
                background-color: #444;

                h2:first-child {
                    color: gold;
                }
            }

            h2:first-child {
                margin-bottom: 20px;
                font-size: 32px;
            }

            ul {
                margin: 16px;
                line-height: 2em;
                list-style: none;
                text-align: left;

                li {
                    display: flex;
                    gap: 12px;

                    &:not(.sub-list-not-checked)::before {
                        content: '✓';
                        width: 16px;
                        color: gold;
                    }

                    &.sub-list-not-checked {
                        margin-left: calc(16px + 12px);
                        color: #888;
                    }

                }
            }

            button {
                width: calc(100% - 12px*2);
                border-radius: 24px;
                padding: 8px 16px;
                margin: 12px;
                border: none;
                background-color: white;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}

/* FOOTER */

footer {
    background-color: #0a0a0a;

    .main-div {
        display: flex;
        padding: 20px 20px 0 20px;

        div {
            display: flex;
        }

        div.left {
            flex-direction: column;
            width: 50%;
            padding: 20px;

            div {
                flex-direction: column;
            }
        }

        hr {
            height: 80%;
            width: 2px;
            border: 1px solid white;
        }

        ul {
            list-style: none;
            font-size: 1.2em;
            line-height: 2em;

            li {
                cursor: pointer;
                width: fit-content;

                &:hover {
                    color: var(--vermell);
                }
            }
        }

        div.right {
            flex-direction: column;
            width: 50%;
            padding: 20px;

            div {
                display: flex;
                position: relative;
                height: 48px;
                border-radius: 24px;

                input {
                    flex: 1;
                    border-radius: 24px;
                    border: none;
                    padding: 12px 60px 12px 16px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }

                i {
                    position: absolute;
                    background-color: var(--vermell);
                    right: 0;
                    height: 100%;
                    width: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 24px 24px 0;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--vermell-hover);
                    }
                }
            }
        }
    }

    .copyright {
        padding: 12px 24px;
    }
}

/* GENERAL */

h3:has(span) {
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
        transition: .3s;
    }

    &:hover span {
        transform: translateX(8px);
    }
}

/* ALTRES */

.game-list {
    padding: 12px;

    h3 {
        text-align: center;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 12px;
        margin-top: 24px;

        li {
            width: 200px;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 4px;
                object-fit: cover;
                object-position: center center;
            }

            p {
                margin: 8px 12px;
                display: flex;
                align-items: center;
                gap: 4px;

                &:nth-child(2) {
                    color: #777;

                    img {
                        height: 100%;
                        aspect-ratio: 1/1;
                    }
                }

                &.img-before::before {
                    content: '';
                    background-image: url('https://seeklogo.com/images/P/playstation-plus-logo-5DBDF15160-seeklogo.com.png');
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                }

                del {
                    color: #777;
                }
            }

            span {
                margin: 8px 12px;
                padding: 4px;
                border-radius: 4px;
                color: black;
                font-weight: bold;
                font-size: 12px;
                background-color: white;
            }
        }
    }
}

/* MEDIA */

@media screen and (max-width: 980px) {
    nav ul {
        display: none;
    }

    header h1 {
        font-size: 4em;
    }

    .game-list ul {
        overflow: auto;
        justify-content: left;

        li {
            min-width: 150px;
            min-height: 150px;
        }

        p {
            flex-direction: column;
            align-items: start !important;
        }
    }

    .desc-top-blocks h2 {
        font-size: 20px;
    }

    .subs-block {
        div:has(div) {
            background: none !important;
        }

        ul {
            display: none;
        }

        div div {
            padding-bottom: 60px !important;
        }

        div:first-child button {
            background: var(--gris);
            color: white;
        }

        button {
            margin-top: -48px !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .subs-block {
        flex-direction: column;

        div:has(div) {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 730px) {
    footer {
        .main-div {
            display: block;

            .left {
                width: 100% !important;
                padding-bottom: 0 !important;
            }

            .right {
                width: 100% !important;
                padding-top: 0 !important;
            }

            h3 {
                font-size: 1.3em;
            }

            li {
                font-size: .8em;
            }
        }

        .copyright {
            font-size: .8em;
        }
    }

    header h1 {
        font-size: 3em;
    }

    .desc-top-blocks {
        display: none !important;
    }

    .div-grid-popular {
        display: flex !important;
        width: 100%;
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 16px !important;

        div {
            width: 45% !important;
            aspect-ratio: 1/1 !important;
            border-radius: 8px !important;

            &::before {
                font-size: 12px;
            }
        }
    }

    .categories {
        flex-direction: column;
        text-align: center;
    }
}
