/* MAIN */

main {
    margin-top: -78px;
}

header {
    height: 40vh !important;
    background: linear-gradient(0deg, #111111ee 0%, #11111110 100%), url('https://i.ytimg.com/vi/s1AyjcYAxPg/maxresdefault.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 78px;

    h1 {
        font-size: 3em;
    }
}

.info {
    height: 60vh;
    display: flex;
    gap: 24px;
    padding: 24px 40px;

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;

        iframe {
            width: 100%;
            border-radius: 8px;
        }

        img {
            width: 50%;
            max-width: 200px;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
            object-position: center top;
            margin-bottom: 20px;
        }
    }
}

.objectius {
    padding: 0 40px 20px 40px;

    h2 {
        margin-bottom: 40px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;

        li {
            background-color: var(--gris);
            padding: 16px;
            width: calc(50% - 10px);
            border-radius: 8px;

            b {
                display: block;
                margin-bottom: 8px;
                font-size: 1.3em;
            }
        }
    }
}

/* ALTRES */

/* MEDIA */

@media screen and (max-width: 980px) {
    .info {
        height: fit-content;
        flex-direction: column-reverse;

        div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 730px) {
    header h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 500px) {
    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1 !important;
    }
}

/* ANIMACIONS */
