/* MAIN */

.main-div.contact {

    main {
        margin-top: -78px;
    }

    header {
        height: 40vh !important;
        background: linear-gradient(0deg, #111111ee 0%, #11111110 100%), url('https://images8.alphacoders.com/124/1243550.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 78px;

        h1 {
            font-size: 3em;
        }
    }

    .form {
        display: flex;
        padding: 40px;
        gap: 20px;

        div:not(form div),
        form {
            width: 50%;
        }

        div:not(form div) {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
                font-weight: 700;
                font-size: 3em;
                margin-bottom: 12px;
            }

            li {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 12px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            *:focus {
                outline: none;
            }

            input,
            select {
                width: 100%;
                height: 52px;
                padding-left: 12px;
                background-color: white;
                border: none;

                &:focus {
                    outline: 1px solid var(--vermell);
                    background-color: #ddd;
                }
            }

            div {
                display: flex;
                gap: 12px;
                align-items: center;

                input {
                    width: 50%;
                }

                &.custom-label {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    input {
                        width: 100%;
                    }
                }
            }

            select {
                cursor: pointer;
            }

            textarea {
                width: 100%;
                height: 100px;
                min-height: 52px;
                max-height: 200px;
                padding: 12px;
                border: none;
            }

            input[type='submit'] {
                margin-top: 32px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    background-color: var(--vermell);
                    color: white;
                }
            }

            input[type='reset'] {
                height: 24px;
                background: none;
                color: white;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            input[type='checkbox'] {
                height: 32px;
                width: 32px;
                margin: 0;
                cursor: pointer;
            }

            a:focus {
                color: var(--vermell);
            }
        }
    }
}

/* DARK MODE / LIGHT MODE */

.dark-mode-false.contact {

    header {
        background-image: linear-gradient(0deg, #aaaaaa99 0%, #aaaaaa22 100%), url('https://images8.alphacoders.com/124/1243550.jpg');
        text-shadow: 0 0 12px #333;
    }

    form {

        input:not(input[type="reset"]),
        select,
        textarea {
            box-shadow: 0 0 12px #aaa;
        }

        input[type="reset"] {
            color: black !important;
        }
    }
}

/* ALTRES */

/* MEDIA */

@media screen and (max-width: 730px) {
    .form {
        flex-direction: column;

        div,
        form {
            width: 100% !important;
        }
    }
}

/* ANIMACIONS */